@import "../../../styles/variables";

::ng-deep {
  .tracking.single {
    .tracking__type {
      &:first-child {
        display: flex;
        align-items: center;
      }
      padding: 5px 0;
    }
    .notes {
      font-family: $font-bold;
      span {
        font-family: $font-bold;
      }
    }
  }

  .tracking {
    button {
      span,
      div {
        color: $text-color-link;
      }
    }
    .custom-container {
      position: relative;
    }
    .tracking__header {
      .tracking__header-notes {
        div {
          font-family: $font-bold;
          @media screen and (max-width: 540px) {
            font-size: 12px;
          }
        }
        .row-double-click-message {
          display: none;
          @media screen and (max-width: 1200px) {
            display: block;
          }
          @media screen and (max-width: 540px) {
            font-size: 12px;
          }
        }
      }
      .tracking__header-search {
        padding-left: 10px !important;
        @media screen and (max-width: 768px) {
          padding-left: 0px !important;
        }
        display: flex;
        justify-content: flex-end;
        .mat-divider.mat-divider-vertical {
          margin: 0 10px;
          @media screen and (max-width: 540px) {
            height: 30px !important;
          }
        }
        .mat-form-field {
          max-width: 250px;
          @media screen and (max-width: 768px) {
            max-width: 100%;
          }
          @media screen and (max-width: 540px) {
            font-size: 10px;
            input {
              font-size: 13px;
            }
          }
          .mat-form-field-wrapper {
            @media screen and (max-width: 1200px) {
              margin-bottom: -15px;
            }
          }
          input {
            width: calc(100% - 25px);
          }
          .search-button.mat-button-disabled {
            .mat-icon {
              color: white;
            }
            background: $text-color-lighter;
          }
          .search-button {
            position: absolute;
            top: -30px;
            right: -10px;
            width: 30px;
            padding: 0;
            min-width: 30px;
            background: $text-color-light;
            @media screen and (max-width: 540px) {
              height: 30px;
              top: -25px;
            }
            div,
            span {
              color: $text-color-white;
            }
            .mat-icon {
              width: auto;
            }
          }
        }
      }
    }
    .excel-export {
      button {
        min-width: 0;
        padding: 0;
        @media screen and (max-width: 540px) {
          height: 30px;
        }
        img {
          width: 20px;
        }
        div {
          @media screen and (max-width: 576px) {
            display: none;
          }
          line-height: 14px;
        }
        div,
        span {
          color: $text-color-dark;
        }
        min-height: 0;
        line-height: 0;
      }

      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }

  .shipment-tracking-grid.fr {
    @media screen and (max-width: 1200px) {
      .label-value {
        & > div:first-child {
          min-width: 155px;
          max-width: 155px;
          margin-right: 10px;
        }
      }
    }
  }
  .shipment-tracking-grid.es {
    @media screen and (max-width: 1200px) {
      .label-value {
        & > div:first-child {
          min-width: 170px;
          max-width: 170px;
          margin-right: 10px;
        }
      }
    }
  }
}
